/* CSS file */

.middleParagraph{
  color: #1696cd;
  width: 700px ;
  margin-left: auto ;
  margin-right: auto ;
}

body{
  background-color: #ecad4e;
  text-align: center;
}

img{
  border: black 5px solid;
  height: 300px;
  width: 300px;
  text-align: center;
}
